<ul class="mainTimer" data-time="10" data-hide="true"> 
    <li class="mainTimer__item">
        <div class="mainTimer__item_value" id="mainDays"></div>
        <div class="mainTimer__item_name">дней</div>
    </li>
    <li class="mainTimer__item">
        <div class="mainTimer__item_value" id="mainHours"></div>
        <div class="mainTimer__item_name">часов</div>
    </li>
    <li class="mainTimer__item">
        <div class="mainTimer__item_value" id="mainMins"></div>
        <div class="mainTimer__item_name">мин</div>
    </li>
    <li class="mainTimer__item">
        <div class="mainTimer__item_value" id="mainSecs"></div>
        <div class="mainTimer__item_name">сек</div>
    </li>
</ul>