<ul class="mainTimer">
    <li class="mainTimer__item">
        <div class="mainTimer__item_value">05</div>
        <div class="mainTimer__item_name">дней</div>
    </li>
    <li class="mainTimer__item">
        <div class="mainTimer__item_value">11</div>
        <div class="mainTimer__item_name">часов</div>
    </li>
    <li class="mainTimer__item">
        <div class="mainTimer__item_value">36</div>
        <div class="mainTimer__item_name">мин</div>
    </li>
    <li class="mainTimer__item">
        <div class="mainTimer__item_value">59</div>
        <div class="mainTimer__item_name">сек</div>
    </li>
</ul>