<div class="mainAction">
    <a href="#" class="mainAction__btn mainAction__btn_dow">
        <div class="mainAction__btn_ct">
            <div class="mainAction__btn_ct_name">Скачать игру</div>
            <div class="mainAction__btn_ct_ex">Размер клиента 979MB</div>
        </div>
        <div class="mainAction__btn_bg">
            <picture>
                <source type="image/webp" srcset="">
                <img src="./img/top-action-btn-1.png" alt="" height="159" width="465">
            </picture>
        </div>
    </a>
    <a href="#" class="mainAction__btn mainAction__btn_don">
        <div class="mainAction__btn_ct">
            <div class="mainAction__btn_ct_name">Донат</div>
        </div>
        <div class="mainAction__btn_bg">
            <picture>
                <source type="image/webp" srcset="">
                <img src="./img/top-action-btn-2.png" alt="" height="130" width="273">
            </picture>
        </div>
    </a>
    <a href="#" class="mainAction__btn mainAction__btn_reg">
        <div class="mainAction__btn_ct">
            <div class="mainAction__btn_ct_name">Регистрация</div>
            <div class="mainAction__btn_ct_ex">Присоединяйтесь БЕСПЛАТНО</div>
        </div>
        <div class="mainAction__btn_bg">
            <picture>
                <source type="image/webp" srcset="">
                <img src="./img/top-action-btn-3.png" alt="" height="159" width="465">
            </picture>
        </div>
    </a>
</div>