.header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    &__bg {
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 0;
        left: 0;
        max-height: 600px;

        img {
            width: 100%;
            height: 100%;
            height: 250px;
            object-fit: cover;
        }
    }

    &__inner {
        padding-top: 28px;
        display: flex;
        justify-content: space-between;
    }
    

    &__nav {
        display: flex;
        justify-content: space-between;
        
        align-items: flex-start;
        
        &_item {
            color: $text-wt;
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 20px;
            padding-bottom: 12px;
            position: relative;
            margin: 0 15px;

            &:after {
                position: absolute;
                content: '';
                width: 0;
                height: 2px;
                background-color: $blue;
                @include default-anim;
                bottom: 0;
                left: 0;

            }

            &:hover {

                &:after {
                    width: 50%;
                }
            }
            
        }

        &_item.header__nav_item_login {
            display: flex;
            align-items: center;
            padding-top: 0;

            &:after {
                display: none;
            }

            .login__icon {
                background-image: url('../img/login-br.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 50px;
                height: 50px;
                margin-right: 7px;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .login__tx {
                max-width: 70px;

                span {
                    font-size: 12px;
                    line-height: 11px;
                    text-transform: capitalize;
                }
            }
        }

    }

    &__logo {
        margin: 0 36px;
        flex: 0 0 auto;
        // max-width: 318px;
        // max-height: 155px;

        img {
            max-width: 100%;
            max-height: 100%;
            
        }
    }

    &__nav-left {
        width: 100%;
    }

    &__nav-right {
        width: 100%;
    }

    &__logo {

    }
}