.top {
    width: 100%;
    min-height: 100vh;
    &__in {
        padding-top: 50vh;
    }

    &__watermark {
        padding: 19px 0;
        font-size: 26px;
        line-height: 20px;
        color: $text-wt;
        text-transform: uppercase;
        text-align: center;
        opacity: 0.5;
    }
}