.mainTimer {
    max-width: 490px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


    &__item {
        background-image: url('../img/top-timer-item-bg.svg');
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $text-wt;

        &_value {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 8px;
        }

        &_name {
            font-weight: 700;
        }
    }
}